body{
    font-family: arial, sans-serif;
    margin: 0;
}

main{
    text-align: center;
    padding: 20px;
}

.proyek-item img{
    width: 100%;
    border-radius: 5px;
}

.proyek-item{
    width: 300px;
    padding: 10px;
}

/*target ul di dalam .menu-navigasi*/
.menu-navigasi ul {
    display: flex; /*Menerapkan Flexbox*/
    justify-content: center; /*Memusatkan item di tengah*/
    background-color: paleturquoise;
    padding: 15px;
    margin: 0;/*Menghapus margin default*/
    list-style-type: none;/*Menghilangkan bullet points*/
}

.menu-navigasi li {
    margin: 0 15px;/*memberi jarak antara item list*/
}

.menu-navigasi a {
    color: gray;
    text-decoration: none;
}

.galeri-proyek {
    display: flex;
    justify-content: center;/*agar semua kartu proyek berkumpul ditengah*/
    flex-wrap: wrap;/*agar mau turun baris di layar kecil*/
}